header {

  background: #7f00ff; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #7f00ff, #e100ff); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #7f00ff, #e100ff);
  color: white;
  font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
  margin: 24px 32px 32px 24px;
  align-content: center;
  border-radius: 12px;
  }
  header .container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 10px 20px;
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
  }
